.Lists {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.Lists section {
	width: 30%;
}
.Lists .Result {
	width: 70%;
	text-align: left;
}
.active {
	color: dodgerblue;
}
.inactive {
	color: #fff;
	text-decoration: none;
}
